body {
    background-color: #fcfcfc;
}

a {
    &:focus {
        outline: none;
    }
}

.btn {
    border: none;
    border-radius: 40px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.5s ease;
}

.btn__standart {
    background-color: $standart-color;
    color: white;
    width: 225px;
    height: 45px;
    &:hover{
        background-color: $hover-color;
        box-shadow: 0px 5px 9px 0px #65042a;
    }
}

.btn__white {
    background-color: #ffffff;
    color: $standart-color;
    width: 225px;
    height: 45px;
    border: 1px solid $standart-color;
    &:hover{
        background-color: $hover-color;
        box-shadow: 0px 5px 9px 0px #65042a;
        color: #ffffff;
    }
}

.btn-hidden {
    display: none;
}

.title__big {
    font-family: 'lora-regular';
    font-size: 50px;
    font-weight: 400;
}

.list__item-img {
    position: relative;
    padding-left: 25px;
    line-height: 30px;

    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.breadcrumbs {
    display: flex;
    padding-bottom: 40px;
    & a {
        font-family: 'corbel-regular';

        &:not(:last-child) {
            cursor: pointer;
            &:after {
                content: '>';
            }
        }
    }
    &__main {
        color: $standart-color;

    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    &__item {

    }
}

.card {
    border-radius: 25px;
    background-color: $gray-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 1px solid #ffffff;

    &__img {
        width: 100%;
        overflow: hidden;
        max-height: 200px;
        background-color: #fff;

        & img {
            display: block;
            margin: 0 auto;
            width: 100%;
            &:focus {
                outline: none;
            }

        }
    }

    &__info {
        padding: 20px;

        & a {
            color: #000;

            &:hover {
                text-decoration: none;
            }
        }

        & h3 {
            margin-bottom: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-height: 20px;
            max-height: 40px;
        }

        & span {
            font-size: 18px;
            display: block;
            margin-bottom: 15px;
        }

        & p {
            font-size: 18px;
            line-height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
            max-height: 150px;
        }

        button {
            margin-top: 50px;
            bottom: 20px;
            position: absolute;
        }
    }
}

.articles {

    &-cards {
        justify-content: space-between;
    }
    &-card {
        max-width: 350px;
        height: 600px;
        margin-bottom: 25px;
        &:hover {
            border: 1px solid $standart-color;
        }
        &__header {
            font-family: corbel-bold;
            color: $standart-color;
            font-size: 18px;
            text-transform: uppercase;
        }
        &__date,
        &__text {
            font-family: corbel-regular;
        }
    }
    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 70px;
    }


}

.product {
    &-cards {
        justify-content: space-between;
    }
    &-card {
        background-color: #ffffff;
        max-width: 260px;
        max-height: 290px;
        margin-bottom: 25px;

        &:hover {
            border: 1px solid $standart-color;
        }
        &__title {
            font-family: 'corbel-regular';
            font-size: 18px;
            color: $standart-color;
        }
    }
}

.text-block {
    & h3 {
        font-family: 'corbel-bold';
        font-size: 20px;
        color: $standart-color;
    }

    & p {
        font-family: 'corbel-regular';
        font-size: 16px;
        color: #000;
        line-height: 27px;
        padding-bottom: 50px;
        margin: 0;

        &:last-child {
            padding-bottom: 0;
        }
    }
}

.pagination {
    padding-top: 55px;
    &__list {
        display: flex;
        max-width: 550px;
        justify-content: space-between;
        list-style-type: none;
        margin: 0 auto;
        padding-left: 0;
    }
    &__item {
        text-align: center;
        padding: 10px;
        &:not(:first-child):not(:last-child) {
            width: 40px;
            height: 40px;
        }
        &:first-child,
        &:last-child{
            width: 80px;
            height: 40px;
        }
    }
}

.form {
    &__label {
        border-radius: 25px;
        border: 1px solid #9e9e9e;
        width: 100%;
        height: 50px;
        position: relative;
        margin-bottom: 40px;
        & input,
        & textarea {
            border: none;
            width: 100%;
            height: 100%;
            background-color: transparent;
            padding-left: 20px;
            &:focus {
                outline: none;
            }
        }

        &-textarea {
            height: 230px;
        }
    }
    &__submit {
        width: 100%;
        height: 50px;
        font-weight: 700;
    }
    &__disclaimer {
        font-family: 'OpenSans-Regular';
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 0;

        & a {
            color: initial;
            text-decoration: underline;
        }
    }
}

.modal {
    &-header {
        & h5 {
            text-align: center;
            width: 100%;
            margin-top: 25px;
        }

        & .close {
            margin: 0;
            padding: 0;
            position: absolute;
            right: 10px;
            top: 5px;
            width: 25px;
            height: 25px;
            opacity: 1;
            border-radius: 50%;
            background-color: $standart-color;
            color: #fff;
            line-height: 0;
            font-size: 18px;
            font-weight: normal;
            text-shadow: none;
        }
    }
}

main {
    padding-top: 125px;
}

::-webkit-input-placeholder {
    font-family: 'corbel-regular';
    color: #131d28;
    font-style: italic;
}
::-moz-placeholder {
    font-family: 'corbel-regular';
    color: #131d28;
    font-style: italic;
}
:-moz-placeholder {
    font-family: 'corbel-regular';
    color: #131d28;
    font-style: italic;
}
:-ms-input-placeholder {
    font-family: 'corbel-regular';
    color: #131d28;
    font-style: italic;
}

.section-padding {
    padding: 70px 0;

    &__first {
        padding: 40px 0 70px;
    }
}

.section-title {
    text-align: center;
    margin-bottom: 70px;
}

.divider {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    &__content {
        display: flex;
        flex-direction: column;
        color: #fff;
        margin: 0;
        & img {
            width: 100%;
        }
    }
}

.main {

    &-divider {
        background-image: url('../img/_src/main-img.jpg');
        background-size: cover;
        &__content {
            max-width: 700px;
            & span {
                font-size: 40px;
                margin-bottom: 20px;
                font-family: 'lora-regular';
            }

            & p {
                font-size: 20px;
                margin-bottom: 90px;
                line-height: 30px;
                font-family: 'corbel-regular';
            }
        }
    }

    &-about {

        &__info {
            & p {
                font-family: 'corbel-regular';
                font-size: 18px;
                margin-bottom: 30px;
            }
        }
        &__btn {
            margin-top: 70px;   
        }
    }

    &-advantages {
        background-color: $standart-color;

        & * {
            color: #ffffff;
        }

        &__item {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &__dish {
            &-wrapper {
                width: 160px;
                height: 160px;
                margin-bottom: 50px;
                box-shadow: 0 1px 40px 0px #000;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-position: center;
                background-image: url('../img/_src/dish.png');
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                &:before {
                    content: '';
                    width: 67px;
                    height: 67px;
                    background-image: url("../img/_src/sprite.png");
                }
            }
        }

        &__text {
            width: 100%;
            display: block;
            text-align: center;
            font-family: 'corbel-regular';
            font-size: 18px;
            line-height: 30px;

        }

        &__img-1:before {
            background-position: -6px 68px;
        }

        &__img-2:before {
            background-position: -98px 68px;
        }

        &__img-3:before {
            background-position: -189px 68px;
        }
        &__img-4:before {
            background-position: -277px 68px;
        }
    }

    &-categories {
        &__item {
            padding: 40px 60px;
            width: 33.3%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:nth-child(odd) {
                background-color: $standart-color;
            }
            &:nth-child(even) {
                background-color: $hover-color;
            }
            & img {
                width: 100%;
            }
        }
        &__title {
            padding-bottom: 10px;
            font-size: 17px;
            color: #ffffff;
            text-align: center;
        }
    }

    &-articles {
        padding-bottom: 70px;
    }
}

.product {
    &-divider {
        padding-top: 50px;

        &__content {
            max-width: 700px;
            margin: 0 auto;
        }

        &__btn {
            position: relative;
            padding: 12px;
            &:before {
                content: '';
                position: absolute;
                left: 35px;
                border-right: 3px solid;
                border-bottom: 3px solid;
                height: 12px;
                top: 50%;
                width: 12px;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(135deg) translateY(75%);
            }
        }
    }
    &-describe {
        background-color: $gray-color;
        &__card {
            align-items: flex-start;
            background-color: #ffffff;
            padding: 30px 0;
            border: none;

            & h2, p, table, span {
                width: 100%;
                padding-left: 25px;
                padding-right: 25px;
            }
        }
        &__title {
            color: $standart-color;
            font-size: 35px;
            padding-bottom: 30px;
            margin: 0;
        }
        &__text {
            font-family: 'corbel-regular';
            line-height: 26px;
            margin-bottom: 20px;
        }
        &__notification {
            margin-top: 15px;
            color: #505050;
        }
        &__sertificat {
            padding-left: 65px;
            & span {
                display: block;
                text-decoration: underline;
                font-family: 'corbel-regular';
            }
            &:before {
                background-position: 138px -50px;
                background-image: url(../img/_src/sprite.png);
                width: 60px;
                height: 50px;
            }
        }

        & table tr:first-child {
            background-color: #f0eeee;
            & th {
                padding: 10px 0;
            }
        }
        & table tr:nth-child(2) td {
            padding-top: 15px;
        }
        & table tr td:first-child,
        & table tr th:first-child{
            padding-left: 25px;
        }
        & table tr td {
            padding: 5px 0;
        }
    }
}

.sertificats {
    &-cards {
        justify-content: space-between;
    }
    &-card {
        max-width: 270px;
        background-color: transparent;
        border: none;
        border-radius: 0;

        &__title {
            font-family: 'corbel-regular';
            font-size: 16px;
            color: #131d28;
            text-align: center;
        }

        & .card__info {
            padding-top: 5px;
        }
    }
    &__search {
        max-width: 540px;
        height: 40px;
        border-radius: 25px;
        border: 1px solid $standart-color;
        position: relative;
        margin-bottom: 70px;

        & input {
            border: none;
            background-color: transparent;
            position: relative;
            outline: none;
            width: 100%;
            height: 100%;
            padding: 0 50px 0 20px;
        }
        &-img {
            width: 40px;
            height: 40px;
            background-color: $standart-color;
            position: absolute;
            right: 0;
            top:50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            &:before {
                content: '';
                background-image: url(../img/_src/sprite.png);
                background-position: -77px -4px;
                width: 25px;
                height: 25px;
            }
        }
    }
}

.vacation {
    &-divider {
        &__content {
            position: relative;
            max-width: 340px;
            margin: 0 auto;

            & h2 {
                position: absolute;
                top: 50%;
                width: 100%;
                text-align: center;
                transform: translateY(-50%);
                padding: 0;
                font-family: 'lora-regular';
                font-weight: 400;
            }
        }
    }
}

.catalog {
    &-divider {
        padding-top: 0;
        padding-bottom: 0;
        & img {
            width: 100%;
        }
    }
    &-title {
        margin: 0;
    }

    &-slider {
        padding-top: 80px;
    }
}

.contacts {
    &__info {
        & span {
            margin-bottom: 30px;
        }
        &-item {
            display: flex;
            flex-direction: column;
        }
    }
    &__map {
        border-radius: 25px;
        overflow: hidden;
    }
    &__active-reg {
        & img {
            width: 100%;
        }
    }
}

.slick-slide {
    &>div {
        text-align: center;
    }
}

.slider-header {
    display: flex;
    align-items: center;
}

.prev-arrow,
.next-arrow {
    &:active,
    &:focus{
        outline: none;
    }
}
