.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 0 0;
  z-index: 999;
  background-color: white;

  &__logo {
    & img {
      width: 115px;
    }
  }

  &-active {
    background-color: #ffffff;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-contacts {
      display: flex;
      & .header__info-item:last-child {
        padding-left: 50px;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;

      & span {
        font-family: 'corbel-regular';
      }
    }
  }

  &__phone {
    &:before {
      width: 18px;
      height: 18px;
      background-image: url('../img/_src/sprite.png');
      background-position: -30px -4px;
    }
  }

  &__address {
    &:before {
      top: 10px;
      transform: none;
      width: 18px;
      height: 46px;
      background-image: url(../img/_src/sprite.png);
      background-position: -6px -4px;
    }
  }

  &__mail {
    &:before {
      width: 18px;
      height: 14px;
      background-image: url(../img/_src/sprite.png);
      background-position: -54px -5px;
    }
  }
}
