@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	.footer__item-list {
        display: inline-block;
        padding-right: 25px;
    }
    .articles-card {
        max-width: 300px;
    }
}

// ≥992px
@include media-breakpoint-down(md) {
    main {
        padding-top: 170px;
    }
    table {
        font-size: 14px;
    }
    .title__big {
        font-size: 30px;
    }
    .header__logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__info {
        &-item {
            display: none;
        }
    }
    .btn-hidden {
        display: inline-block;
    }
    .card {
        margin-bottom: 30px;
    }
    .articles-cards {
        flex-direction: column;
        align-items: center;
    }
    .articles-card {
        max-width: 400px;
    }
    .main-about__img {
        display: none;
    }
    .main-advantages__item {
        padding-bottom: 40px;
    }
    .main-categories__item {
        padding: 20px;
    }
    .main-categories__title {
        font-size: 15px;
    }
}

// ≥768px
@include media-breakpoint-down(sm) {
    .header__info {
        display: none;
    }
    .header__logo {
        text-align: center;
    }

    .menu {
        flex-direction: column;
        display: none;

        li {
            display: block;

            a:after {
                bottom: 10px;
                left: 23px;
            }
        }
    }
    .menu-mobile {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .main-categories__item {
        width: 75%;
    }

    .grid {
        justify-content: center;
    }

    .hidden {
        display: none;
    }
    .catalog-title {
        font-size: 20px;
    }
    .prev-arrow,
    .next-arrow {
        width: 135px;
        height: 35px;
    }
}

// ≥576px
@include media-breakpoint-down(xs) {
    .main-categories__item {
        width: 100%;
    }
    .main-categories__title {
        font-size: 20px;
    }
    .pagination {
        &__item {
            padding: 5px;
            font-size: 12px;
            &:not(:first-child):not(:last-child) {
                width: 30px;
                height: 30px;
            }
            &:first-child,
            &:last-child{
                width: 60px;
                height: 30px;
            }
        }
    }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
