.main-menu {
  width: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  border-top: 1px solid gray;

  &__item {
    position: relative;
    display: inline-block;

    & a {
      transition: all 0.5s ease;
      &:hover {
        color: #8a244c;
        text-decoration: none;
      }
    }

  }

  &__link {
    display: block;
    font-size: 16px;
    padding: 10px 5px;
    text-decoration: none;
    color: black;
    position: relative;


    &>span {
      position: relative;
      font-family: 'corbel-bold';
      text-transform: capitalize;
      font-size: 15px;
    }
  }
}

.menu-mobile {
  display: none;
  height: 55px;

  & img {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
  }

  &__bar {
    position: relative;
    width: 85px;
    height: 23px;
    padding: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    &:focus {
      outline: none;
    }

    &>span {
      position: absolute;
      left: 0;
      width: 30px;
      height: 3px;
      background-color: $standart-color;
      cursor: pointer;
      transition: all 0.5s ease;
    }

    &>p {
      text-align: right;
    }

    &.open {
      & span {
        top: 10px;
      }

      & .menu-mobile__bar-1 {
        transform: rotate(45deg);
      }

      & .menu-mobile__bar-2,
      & .menu-mobile__bar-3 {
        transform: rotate(-45deg);
      }
    }

  }

  &__bar-1 {
    top: 0;
  }

  &__bar-2 {
    top: 10px;
  }

  &__bar-3 {
    top: 20px;
  }
}
